.luffy {
    padding: 10px;
    height: 78px;
    border-radius: 100%;
}

.himanshu {
        margin: 10px;
        height: 78px;
        border-radius: 100%;
}

.him {
    border: 3px solid green;
    border-style: dashed;
}